@model HomeViewModel
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col"></th>
            <th scope="col">@nameof(ToDoTask.Title)</th>
            <th scope="col">@nameof(ToDoTask.Tags)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ToDoTask task in Model.ToDos)
        {
            <tr>
                <th scope="row">
                    <input type="checkbox" />
                </th>
                <td>
                    @task.Title
                </td>
                <td>
                    @string.Join(",", task.Tags.Select(a => a.Name))
                </td>
            </tr>
        }
    </tbody>
</table>