@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col p-3">
        <div>
            Habits
        </div>
        <div>
            @await Html.PartialAsync("_habitTable.cshtml", Model)
        </div>
    </div>
    <div class="col col-lg-3 p-3">
        <div>
            Dailies
        </div>
        <div>
            @await Html.PartialAsync("_dailiesTable.cshtml", Model)
        </div>
    </div>
    <div class="col p-3">
        <div>
            Tasks
        </div>
        <div>
            @await Html.PartialAsync("_toDosTable.cshtml", Model)
        </div>
    </div>
</div>
