@model UserViewModel

<form method="post">
    <div class="pt-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Register </h2>
            <hr />
        </div>
        <div class="mb-3 w-25 row">
        <input asp-for="User.Id" hidden />
        </div>
        <div class="mb-3 w-25 row">
            <label asp-for="User.Login"></label>
            <input asp-for="User.Login" class="form-control" />
        </div>
        <div class="mb-3 w-25 row">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
        </div>
        <div class="mb-3 w-25 row">
            <label asp-for="User.Email"></label>
            <input asp-for="User.Email" class="form-control" />
        </div>
        <div class="row w-25">
            <div class="col-6">
                <button type="submit" class="btn btn-primary w-5">Register</button>
            </div>
        </div>
    </div>
</form>